#page {
  display:flex;
  height:calc(100vh - 45px);
  margin-top:45px;
  flex-direction: row;
  overflow-y:hidden;
}

#map{
  flex:5;
}

#districts-list{
  flex: 2;
  overflow-y:scroll;
  margin: 10px 20px 10px 20px;
}

#districts{
  flex:3;
  overflow-y: scroll;
  display:flex;
  flex-direction: column;
  min-height: min-content;
  padding:20px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#districts-menu{
  
  margin-bottom: 20px;
  
}

#districts-menu p{
  font-size:12px;
}

select, input, button{
  padding: 2px 5px;
  margin: 5px;
}


select{
  margin-top:20px;
}

#variant-name-field{
  display: block;
  margin-top:20px;
  
}

#districts-menu p strong{
  font-family: "Clan Medium";
  font-size:18px;
  color: #2e91d2;
  margin-left: 10px;
  
}

#districts-overall{
  height: 360px;

}

#inline-odis{
  height:55px;
}

#inline-odis img {
  height:auto;
  width: 150px;
  margin:0 0 10px 10px;
}

#districts-detail{
  flex-grow: 1;
}

table{
  margin-top:20px;
  width:100%;
  font-size:12px;
}

tbody tr{
  border: 1px solid white;
  cursor: pointer;
}

th{
  font-family: "Clan Medium";
  font-size:12px;
}

tbody tr:hover{
  border: 1px solid black;
}

.colorfield{
  display:inline-block;
  width:10px;
  height:10px;
}

td.colorcol{
  width:10px;
}

#districts svg{
  margin-left:5px;
}

#districts-overall p{
  padding-left:10px;
  font-size:12px;
}

svg text{
  font-family: sans-serif;
  font-size:10px;
}

#histoInitAxis text{
  display:none;
}

#neighbor_select li:hover, #districts-detail-other li:hover{
  cursor: pointer;
  background-color: rgba(0,0,0,0.2);
}

#neighbor_select input{
  margin-right:5px;
}

#neighbor_select li{
  padding:5px;
  float:left;
  clear:both;
  display:block;
  cursor: pointer;
}

#districts-apply{
  clear:both;
  float:left;
}

#districts-detail{
  padding: 0 10px 50px 10px;
  font-size:12px;
}

#districts-detail-other li{
  padding:2px;
  float:left;
  clear:both;
  display:block;
}

#districts-detail strong{
  font-family: "Clan Medium";
}

#districts-detail h2{
  padding-top: 5px;
  font-family: "Clan Medium";
  font-size: 18px;
}

#districts-detail h3{
  padding-top:10px;
  clear:both;
  font-family: "Clan Medium";
}