#page {
  display: flex;
  height: calc(100vh - 45px);
  margin-top: 45px;
  flex-direction: row;
  overflow-x: hidden;
}

#map {
  flex: 1.2;
}

#dimensions {
  flex: 2;
}

#dimensions ul,
#dimensions li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#dimensions ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#dimensions li {
  padding-top: 25px;
  min-width: 330px;
  margin-right: 40px;
  position: relative;
}

input {
  width: 100px;
  float: right;
}

#dimensions svg {
  margin-top: 10px;
}

label {
  padding-right: 10px;
  font-size: 12px;
}

svg {
  overflow: visible;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 330px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
li:hover .tooltiptext {
  visibility: visible;
  top: 140px;
}
